<div class="UserName">  
{{#if loggedIn}}
<section class="user">
<h2>Welcome, {{user.username}}!</h2>
</div>
<div>
owDiveTotals: {{user.ow_dive_totals}}
</div>
<div>
  {{user.certifications}}
</div>
<div> 
  {{user.gas_mixes}}
</div>
{{!-- <div> 
  {{user.cave_dive_totals}}
</div>
<div> 
  {{user.night_dive_totals}}
</div>
<div> 
  {{user.shark_dive_totals}}
</div>
<div> 
  {{user.wreck_dive_totals}}
</div>
<div> 
  {{user.drift_dive_totals}}
</div>
<div> 
  {{user.altitude_dive_totals}}
</div>
<div> 
  {{user.photography}}
</div>
<div> 
  {{user.tech_dive_totals}}
</div>
<div> 
  {{user.active_instructor}}
</div> --}}

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Date and Dive:</h3>

<div class="boxed">
  <a href="#"></a>
</div>



  <form class="Find-your-Date">
      <div class="form-group">
        <label for="DiveDates">profile name:</label>
        <input class="form-input" type="text" id="DiveDates" name="DiveDates" />
      </div>

  <div class="form-group">
        <label for="find-dates">dates needed:</label>
        <input class="form-input" type="number" id="project-dating" name="project-dating" />
      </div>

 <div class="form-group">
        <label for="date-type">description:</label>
        <textarea class="form-input" id="date-type" name="date-type"></textarea>
      </div>

  <div class="form-group">
        <button type="submit" class="btn btn-primary">Get Date</button>
      </div>
    </form>
  </div>

{{!-- 
  <div class="UserName -details">
    <h3> {{{"Title Goes Here"}}} </h3>
    <p>By:UserName Goes Here</p>
    <p>Date and Dive: Dates goes here </p>
  </div>
</section>
<!-- Otherwise, provide a link to login -->
{{else}}
<a href="/login">You must login first to Date</a>
{{/if}}  --}}
{{/if}}


<div class="form-group">
        <button id="logout" type="submit" class="btn btn-primary">Logout</button>

      </div>

<script src="./js/logout.js"></script>


<script src="./js/profile.js"></script>