<div class="UserName">
  {{#if loggedIn}}
  <section class="user">
    <h2>{{user.username}}</h2>
    <p id="profileCertifications">Certifications: {{user.certifications}}</p>
    <p id="profileCertifications">Gas Mixes: {{user.gas_mixes}}</p>
    <p>Total Dives: {{user.ow_dive_totals}}</p>
    <p>Photographer: {{user.photography}}</p>
    <p>Active Emergency First Responder: {{user.active_efr}}</p>
    <p>Active O2: {{user.active_O2}}</p>
    <p>Active Dive Master: {{user.active_dm}}</p>
    <p>Active Instructor: {{user.active_instructor}}</p>
  </section>
  {{/if}}
</div>

{{#if user.threads.length}}
<div class="col-md-6 comments">
  <h3>Comments:</h3>

  {{#each user.threads as |thread|}}
  <ul class="list-group">
    <li class="list-group-item">{{thread.comment}}
      <div class="input-group input-group-lg">
        <span class="input-group-text" id="inputGroup-sizing-lg">Large</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-lg">
        <input class="btn btn-primary" type="submit" value="Reply">
      </div>
    </li>
  </ul>
  {{/each}}
</div>
{{/if}}



{{!-- <div class="row mb-2">
  <div class="col-md-8">
    <h4>{{thread.comment}}</h4>
    <div class="input-group input-group-lg">
      <span class="input-group-text" id="inputGroup-sizing-lg">Large</span>
      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
      <input class="btn btn-primary" type="submit" value="Reply">
    </div>
  </div>
</div> --}}